circle {
  fill: white;
}

.black circle {
  fill: #DDDDDD;
}


.black text {
  fill: black;
}

.highlighted circle {
  fill: orange;
}

text {
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}

.accordion-key {
  font-size: 20pt;  
}

.accordion-key-xl {
  font-size: 25pt;  
}

.accordion-key-lg {
  font-size: 30pt;  
}

.accordion-key-sm {
  font-size: 12pt;  
}

.accordion-key-xs {
  font-size: 6.5pt;  
}

.accordion-key-xxs {
  font-size: 4pt;  
}

.key:hover circle {
  fill: orange;

}
.key:hover {
  cursor: pointer;
}