circle {
  fill: white;
}

.black circle {
  fill: #DDDDDD;
}


.black text {
  fill: black;
}

.highlighted circle {
  fill: #66ff00;
}

text {
  /* font-weight: bold; */
  font-family: 'Indie Flower', cursive;
}

.accordion-key {
  font-size: 20pt;  
}

.accordion-key-xl {
  font-size: 25pt;  
}

.accordion-key-lg {
  font-size: 30pt;  
}

.accordion-key-sm {
  font-size: 10pt;  
}

.accordion-key-xs {
  font-size: 4.5pt;  
}

.accordion-key-xxs {
  font-size: 4pt;  
}

.key:hover circle {
  fill: orange;

}
.key:hover {
  cursor: pointer;
}