<link href='css/accordion.css' rel='stylesheet' type='text/css'>  
<div id="main">
    <span class="material-icons" @click='reset'>delete</span>
    <span class="material-icons" @click='playChord(selected)'>play_circle</span>
    <span class="material-icons"  @click='playChord(selected,true)'>play_circle_outline</span>
    <span class="material-icons" @click='addToStack'>add_circle</span>
    <span class="material-icons" @click='transpose("down")'>arrow_drop_down</span>
    <span class="material-icons" @click='transpose("up")'>arrow_drop_up</span>
    <br>
    <accordion v-for='size in [40]' v-bind:key="size.id" :size='size'  :selected='selected' @note='noteClicked($event)' ></accordion>
    <br>Notes selected:
    {{selected}}
    
    <span v-for='(selected,idx) in stack'>
    <hr><br>
    {{idx}}
    <span v-if='idx<stack.length-1'  class="material-icons" @click='move(idx,1)'>south</span>
    <span v-if='idx>0' class="material-icons" @click='move(idx,-1)'>north</span>
    <span class="material-icons" @click='deleteChord(idx)'>delete</span>
    <span class="material-icons" @click='playChord(selected)'>play_circle</span>
    <span class="material-icons"  @click='playChord(selected,true)'>play_circle_outline</span>
    <br>
    <accordion :size='24'  :selected='selected' @note='noteClicked($event)' ></accordion>

    {{selected}}
        </span>
    <!-- <accordion v-for='size in [20]' griff='b-system' :size='size'  :selected='selected' ></accordion> -->
 <!-- <accordion v-for='size in [10,20,45,70,100,150,250,450]' :size='size'  :selected='selected' ></accordion> -->
</div>

<style>
.material-icons {
    cursor: pointer;
}
svg 
{
    padding: 10px 10px;
    /* border: black solid;    */
}
</style>
<!-- <script src="node_modules/vue/dist/vue.min.js"></script> -->
<!-- <script src="node_modules/underscore/underscore-min.js"></script> -->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- polyfills -->
<script src="js/inc/shim/Base64.js" type="text/javascript"></script>
<script src="js/inc/shim/Base64binary.js" type="text/javascript"></script>
<script src="js/inc/shim/WebAudioAPI.js" type="text/javascript"></script>
<!-- midi.js package -->
<script src="js/midi/audioDetect.js" type="text/javascript"></script>
<script src="js/midi/gm.js" type="text/javascript"></script>
<script src="js/midi/loader.js" type="text/javascript"></script>
<script src="js/midi/plugin.audiotag.js" type="text/javascript"></script>
<script src="js/midi/plugin.webaudio.js" type="text/javascript"></script>
<script src="js/midi/plugin.webmidi.js" type="text/javascript"></script>
<!-- utils -->
<script src="js/util/dom_request_xhr.js" type="text/javascript"></script>

<script src="node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>

<script type='module'>
import Vue from '../node_modules/vue/dist/vue.esm.browser.js';

import './js/accordion.js';
import {util} from './js/util.js';

console.log("Loading midi");
var startTime = new Date();
MIDI.loadPlugin({
			soundfontUrl: './soundfont/',
      instruments: ['acoustic_grand_piano'],// 'acoustic_guitar_nylon', 'tubular_bells', 'kalimba', 'timpani', 'orchestral_harp', 'xylophone', 'alto_sax', 'tuba', 'pan_flute', 'violin'],
    //   instruments: ['acoustic_grand_piano'],
      onsuccess: function() {
        console.log("Midi ready");
        console.log(`${new Date()-startTime}ms elapsed`);
        Initialize();
}});

function Initialize() {
    new Vue({
        el: '#main',
        data: {
            ready: false,
            selected: ["E2","Ab2","B2","E3"],
            stack: [ ["E2","Ab2","B2","E3"], ["E2", "F#2", "Bb2", "C#3"]],
        },
        methods: {
            noteClicked(ev) {
                util.PlayNotes([ev]);
            },
            reset() {
                this.selected = [];
            },
            doArpeggio() {
                util.PlayNotes(this.selected);
            },
            addToStack() {
                var selected = [...this.selected];
                this.stack.push(selected);
            },
            playChord(chord, arpeggiate) {
                var delay = arpeggiate ? 100 : 0;
                util.PlayNotes(chord, delay)
            },
            deleteChord(idx) {
                this.stack.splice(idx,1);
            },
            transpose(direction) {
                this.selected = util.Transpose(this.selected,direction);
                this.playChord(this.selected, true);
            }
        },
        mounted() {
            var thisCopy = this;
            function remove(arr, elt) {
                while(true) {
                    var idx = arr.indexOf(elt);
                    if(idx<0)
                        return;
                    arr.splice(idx,1);
                }
            }
            function toggle(arr, elt) {
                if(arr.indexOf(elt)>=0)
                    remove(arr,elt);
                else
                    arr.push(elt);
            }
            $(document).on('keydown', function(event) {
                        // console.log(note);
                        var note = util.GetNoteFromKey(event.key);
                        if(!note)
                            return;
                        util.PlayNotes([note]);
//                        thisCopy.selected.push(note);
                        toggle(thisCopy.selected,note);
                    });

            $(document).on('keyup', function(event) {
                        // console.log(note);
                        var note = util.GetNoteFromKey(event.key);
                        if(!note)
                            return;
                  //      remove(thisCopy.selected,note);
                    });

        }
    });
}
  

</script>
