<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Chord Creator</title>
  
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>  
<link href='css/accordion.css' rel='stylesheet' type='text/css'>  
  
		<!-- polyfills -->
		<script src="js/inc/shim/Base64.js" type="text/javascript"></script>
		<script src="js/inc/shim/Base64binary.js" type="text/javascript"></script>
		<script src="js/inc/shim/WebAudioAPI.js" type="text/javascript"></script>
		<!-- midi.js package -->
		<script src="js/midi/audioDetect.js" type="text/javascript"></script>
		<script src="js/midi/gm.js" type="text/javascript"></script>
		<script src="js/midi/loader.js" type="text/javascript"></script>
		<script src="js/midi/plugin.audiotag.js" type="text/javascript"></script>
		<script src="js/midi/plugin.webaudio.js" type="text/javascript"></script>
		<script src="js/midi/plugin.webmidi.js" type="text/javascript"></script>
    <!-- utils -->
    <script src="js/util/dom_request_xhr.js" type="text/javascript"></script>

  
</head>

<body>

  <div class='piano'></div>

  <div ng-app='chordApp'>
  <div ng-controller='chordAppCtrl'>

<!--  <svg id='kb' type='keyboard' width=400 height=300 ng-keydown="getKeys($event)" >
    <rect width="300" height="100" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
       </svg>
 -->
 <button ng-click='play(activeNotes)'>play</button>
 <button ng-click='play(activeNotes,"arpeggio")'>arpeggio</button>
    <button ng-click='deleteActiveNotes()'>delete all</button>
    <br>
          <span ng-repeat='note in activeNotes'>
              <button ng-click='removenote(note)'>x</button>
              <button ng-click='play([note])'>play</button>
               {{note}}

          </span>
      <br><accordion-keyboard size=40 notes='{{activeNotes}}' griff='{{griff}}'></accordion-keyboard>



    <button ng-click='playAll()'>play all</button>
    <button ng-click='save()'>save</button>
    <button ng-click='load()'>load</button>
    <select ng-model="selectedSet" ng-options="x for x in chordSets"></select> 
    <input type=text ng-model='selectedSet' />
     Griff: <select ng-model="griff" ng-options="x for x in griffs"></select> 
    <br><br>
    <div ng-repeat='chord in chords' ng>
      <button ng-click='delete($index)'>x</button>
      <button ng-click='insert($index)'>add</button>
      <button ng-click='invert($index,"down")' >I-</button>
      <button ng-click='transpose($index,"down")' >-</button>
      <input type=text ng-model="chord" ></input>
      <button ng-click='transpose($index,"up")' >+</button>
      <button ng-click='invert($index,"up")' >I+</button>
      <button ng-click='sort($index)'>order</button>
      <button ng-click='play(chord,"chords")'>play</button>
      <button ng-click='play(chord,"arpeggio")'>arpeggio</button>

      <br><accordion-keyboard size=20 notes='{{chord}}' griff='{{griff}}'></accordion-keyboard>


    </div>
  
  
  </div>
</div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>

  <script src='js\app.js'></script>
  <script src='js\util.js'></script>
  <script src='js\storage.js'></script>
  <script src='js\controller.js'></script>
  <script src='js\accordionWidget.js'></script> -->

  <!-- <script src="lib\audiosynth.js"></script> -->

  <script>

console.log("Loading midi");
var startTime = new Date();
MIDI.loadPlugin({
			soundfontUrl: './soundfont/',
      instruments: ['acoustic_grand_piano'],// 'acoustic_guitar_nylon', 'tubular_bells', 'kalimba', 'timpani', 'orchestral_harp', 'xylophone', 'alto_sax', 'tuba', 'pan_flute', 'violin'],
      onsuccess: function() {
        //piano = new Piano();
        console.log("Midi ready");
        console.log(`${new Date()-startTime}ms elapsed`);
      }
});


    // play here if needed  



  
  </script>



</body>
</html>
